/* style.css */

body {
    font-family: 'Sofia Pro', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1.5em;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    display: flex;
    justify-content: space-around;
    padding: 0.8em 0; /* Adjusted padding */
    height: 55px; /* Adjusted height */
    font-size: 1.4em;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; /* Equally divide the space for 5 icons */
}

nav a img {
    width: 28px;
    height: 28px;
}

.container {
    padding: 2em;
    padding-top: 6em; /* Ensure enough space for the fixed larger header */
    padding-bottom: 7em; /* Ensure enough space for the larger navigation bar */
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5em 0;
}

button:hover {
    background-color: #45a049;
}

input, select {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

footer {
    height: 70px; /* Adjusted to ensure enough space for the save button */
}

/* Ensure the button is not obscured */
.edit-container {
    padding-bottom: 100px; /* Ensure the save button is clickable */
}

/* Prevent zooming */
body, input, select, button {
    touch-action: manipulation;
    user-select: none;
}

input[type="text"], input[type="number"], select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus, select:focus, button:focus {
    outline: none;
}

html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-touch-action: manipulation;
    -moz-touch-action: manipulation;
    -webkit-user-drag: none;
    user-drag: none;
}
